@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-transform: none;
  text-align: center;
  background-color: rgb(235, 243, 129);
}

body::after {
  content: '';
  background-image: url('..//images/World_map_political_ISO.png');
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.title {
  font-size: 20px;
  padding: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  filter: drop-shadow(11px 4px 10px gray);
}
.search {
  padding: 15px 15px;
  margin-bottom: 30px;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(3, 129, 247);
  border-radius: 5px;
  font-size: 20px;
  font-style: normal;
  outline: transparent;
}

.search:focus {
  filter: drop-shadow(0px 5px 10px rgb(236, 95, 1));
  border-radius: 4px;
}
